.dimension{
    width:85mm;
    height:55mm;
    padding:10px;
    border: 4px solid black;
    background-color: rebeccapurple;
    border-radius:20px;
    box-sizing: border-box;
}
.image{
    border-radius:5px;
    float: right;
}
.nom {
    padding-top:10px;
    padding-bottom: 15px;
}
